body {
    display: flex;
    margin: 40px;
    font-family: "Pinyon Script", cursive, serif;
    font-size: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;  /* space between items */
}

nav li {
    display: inline;
}

nav ul li:not(:last-child)::after {
    content: "~";
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.pinyon-script-regular {
    font-family: "Pinyon Script", cursive, serif;
    font-weight: 400;
    font-style: normal;
  }

br {
    line-height: 30%;
    content: "";
    margin: 5px;
    display: block;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

nav a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    transition: text-shadow 0.3s ease; 
  }
  
  nav a:hover {
    text-shadow: 2px 2px 2px rgb(232, 142, 255); 
    font-weight: inherit; 
  }