body {
    display: flex;
    margin: 40px;
    font-family: "Pinyon Script", cursive, serif;
    font-size: 30px;
    padding-top: 80px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav li {
    display: flex;
    align-items: center;
}

nav span {
    margin-left: 10px;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.pinyon-script-regular {
    font-family: "Pinyon Script", cursive, serif;
    font-weight: 400;
    font-style: normal;
  }

br {
    line-height: 30%;
    content: "";
    margin: 5px;
    display: block;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

nav a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    transition: text-shadow 0.3s ease; 
  }
  
  nav a:hover {
    text-shadow: 2px 2px 2px hotpink; 
    font-weight: inherit; 
  }

  #about-text {
    display: none;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    background-color: rgba(255, 105, 180, 0.1);
    padding: 20px;
}

#about-text.visible {
    display: block;
}